{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Редактировать пост</h1>
    <form action="{{ url_for('profile.edit_post', post_id=post.id) }}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="background_img">Фоновое изображение</label>
            <input class="form-control" type="file" name="background_img" id="background_img">
        </div>
        <div class="mb-3 background-preview p-3 rounded d-flex align-items-center justify-content-center">
            <img src="#" class="img-fluid d-none" alt="">
            <label for="background_img" class="btn btn-dark">Выбрать изображение</label>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Заголовок</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ form['title'] }}">
        </div>
        
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
