{% extends 'base.html' %}

{% block content %}
<div class="h-100 text-center d-flex p-3 bg-light">
    <div class="m-auto">
        <h1 class="title mb-5 font-weight-bold">Добро пожаловать в Меммодельню</h1>
        
        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                Меммодельня - это платформа, где вы можете наслаждаться лучшими мемами, созданными нашими талантливыми 
                пользователями со всего мира. Мы предлагаем широкий спектр мемов на самые разнообразные темы - от смешных 
                до задумчивых, от классических до новейших.
            </p>

            <div class="my-5">
                <a href="{{ url_for('posts.index') }}" class="btn btn-outline-dark btn-lg">Посмотреть мемы</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
